@use "../base/variables" as *;

.content {
  &__container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }

  &__text {
    color: $grey--800;
  }

  &__timer {
    display: grid;
    place-content: center;
    font-size: 32px;
    font-weight: 700;
    width: 150px;
    aspect-ratio: 1;
    margin-inline: auto;
    border: 1px solid $grey--800;
    border-radius: 50%;
  }
}
