@use "../base/variables" as *;

.footer {
  padding-block: 20px;

  &__help {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 10px;
    padding: 40px 10px;

    @media (width < 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
      padding: 10px;
    }
  }

  &__help-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: $grey--700;

    @media (width < 1024px) {
      flex-direction: column;
      text-align: center;
    }

    @media (width < 768px) {
      height: 150px;

      &:first-child,
      &:last-child {
        background-color: $grey--300;
      }
    }

    img {
      height: 43px;
    }
  }

  &__help-link-content {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__help-link-title {
    font-size: 10px;
    color: $grey--800;
  }

  &__help-link-text {
    font-weight: 700;
    color: $grey--900;
  }

  &__block {
    display: flex;
    padding: 10px;

    @media (width < 768px) {
      flex-direction: column;
    }

    img {
      display: block;
      height: 34px;
      max-width: 80px;
    }
  }

  &__block-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 20px;

    &:first-child {
      flex-grow: 3;
      border-right: solid 2px $grey--600;
      justify-content: space-around;

      @media (width < 768px) {
        border: none;
      }
    }
  }

  &__store {
    background-color: $grey--300;
    padding: 20px;
  }

  &__store-content {
    display: flex;
    column-gap: 60px;
    row-gap: 30px;
    max-width: 760px;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__store-link {
    color: $dark--400;
    display: flex;
    align-items: center;
    flex-basis: 300px;
  }

  &__donwload {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  &__donwload-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 40px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .info {
    &__container {
      justify-content: space-around;

      @media (width < 768px) {
        padding-inline: 20px;
      }
    }
  }

  &__rakuten {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    @media (width < 768px) {
      justify-content: center;
    }
  }

  &__logo {
    max-width: 91px;
  }

  &__rakuten-link {
    font-size: 12px;
    color: $grey--800;
  }

  &__copyright {
    padding: 10px;
    text-align: center;
    font-size: 12px;
  }

  &__ad {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__ad-link {
    color: $dark--900;
    text-decoration: underline;
    font-size: 10px;
  }
}
