@use "../base/variables" as *;

.footer-second {
  background-color: $grey--300;
  margin-top: 30px;

  &__social-container {
    padding-block: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    border-top: 1px solid $grey--200;
  }

  &__social-nav {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    img {
      width: 24px;
      aspect-ratio: 1;
    }
  }

  &__section {
    padding-block: 12px;
    border-top: 1px solid $grey--200;
  }

  &__sign-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: $dark--900;
    width: fit-content;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__sign-content {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__sign-description {
    color: #616161;
    font-size: 12px;
  }

  .info {
    padding-top: 16px;
    padding-bottom: 12px;
    border-top: 1px solid $grey--200;

    &__link {
      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }

      &:first-child {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 14px;
        pointer-events: none;
      }
    }
  }

  &__copyright {
    border-top: 1px solid $grey--200;
    padding-block: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    padding-inline: 30px;
    text-align: center;

    a {
      color: $green--700;
      text-decoration: underline;
      transition: color 200ms ease;

      @media (hover: hover) {
        &:hover {
          color: $dark--900;
        }
      }
    }
  }
}
