// color palette
$dark--900: #000000;
$dark--400: #333333;
$dark--300: #4a4a4a;

$light: #ffffff;

$grey--900: #686868;
$grey--800: #777777;
$grey--700: #828282;
$grey--600: #9c9c9c;
$grey--500: #d3d3d3;
$grey--400: #d1d1d1;
$grey--300: #f7f7f7;
$grey--200: #eeeeee;
$grey--100: #dcf0ef;

$green--700: #257f39ff;
$green--400: #729174;
$green--300: #a3d0a7;

$red--900: #c10001;
$red--400: #ff0000;

$gold: #b78b1f;
