<footer class="footer">
  <nav class="footer__help">
    <a href="#!" class="footer__help-link">
      <img src="./src/img/bag.svg" alt="bag" />
      <div class="footer__help-link-content">
        <h6 class="footer__help-link-title">Le choix</h6>
        <p class="footer__help-link-text">Neuf et occasion</p>
      </div>
    </a>
    <a href="#!" class="footer__help-link">
      <img src="./src/img/clubR-grey.svg" alt="clubR" />
      <div class="footer__help-link-content">
        <h6 class="footer__help-link-title">Minimum</h6>
        <p class="footer__help-link-text">5% remboursés</p>
      </div>
    </a>
    <a href="#!" class="footer__help-link">
      <img src="./src/img/shield.svg" alt="shield" />
      <div class="footer__help-link-content">
        <h6 class="footer__help-link-title">La sécurité</h6>
        <p class="footer__help-link-text">Satisfait ou remboursé</p>
      </div>
    </a>
    <a href="#!" class="footer__help-link">
      <img src="./src/img/customerCare.svg" alt="customerCare" />
      <div class="footer__help-link-content">
        <h6 class="footer__help-link-title">Le service clients</h6>
        <p class="footer__help-link-text">À votre écoute</p>
      </div>
    </a>
  </nav>
  <div class="info">
    <div class="info__container">
      <nav class="info__nav">
        <a href="#!" class="info__link">Liens utiles</a>
        <a href="#!" class="info__link">Mon compte</a>
        <a href="#!" class="info__link">Mon panier</a>
        <a href="#!" class="info__link">Paiement en plusieurs fois</a>
        <a href="#!" class="info__link">Vendre</a>
        <a href="#!" class="info__link">Suivre ma commande</a>
        <a href="#!" class="info__link">Mon Club R</a>
      </nav>
      <nav class="info__nav">
        <a href="#!" class="info__link">Aide</a>
        <a href="#!" class="info__link">Besoin d'aide ?</a>
        <a href="#!" class="info__link"
          >Ouvrir un e-shop en tant que commerçant</a
        >
        <a href="#!" class="info__link">Frais de protection acheteurs</a>
        <a href="#!" class="info__link">Signaler un contenu illicite</a>
        <a href="#!" class="info__link">Plan du site</a>
        <a href="#!" class="info__link">Le blog</a>
      </nav>
      <nav class="info__nav">
        <a href="#!" class="info__link">Rakuten</a>
        <a href="#!" class="info__link">Carrières</a>
        <a href="#!" class="info__link">Conditions générales</a>
        <a href="#!" class="info__link">*Conditions des offres</a>
        <a href="#!" class="info__link">Politique Vie privée</a>
        <a href="#!" class="info__link">Gestion des cookies</a>
        <a href="#!" class="info__link">Affiliation</a>
        <a href="#!" class="info__link">Devenez annonceur</a>
        <a href="#!" class="info__link">A propos de Rakuten</a>
        <a href="#!" class="info__link">Fonctionnement du service</a>
        <a href="#!" class="info__link">Assurances</a>
      </nav>
    </div>
  </div>
  <div class="footer__block">
    <nav class="footer__block-nav">
      <a href="#!" class="footer__social-link">
        <img src="./src/img/linkedin.svg" alt="linkedin" />
      </a>
      <a href="#!" class="footer__social-link">
        <img src="./src/img/facebook.svg" alt="facebook" />
      </a>
      <a href="#!" class="footer__social-link">
        <img src="./src/img/twitter.svg" alt="twitter" />
      </a>
      <a href="#!" class="footer__social-link">
        <img src="./src/img/instagram.svg" alt="instagram" />
      </a>
      <a href="#!" class="footer__social-link">
        <img src="./src/img/youtube.svg" alt="youtube" />
      </a>
      <a href="#!" class="footer__social-link">
        <img src="./src/img/pinterest.svg" alt="pinterest" />
      </a>
    </nav>
    <nav class="footer__block-nav">
      <a href="#!" class="footer__payment-link">
        <img src="./src/img/visa.svg" alt="visa" />
      </a>
      <a href="#!" class="footer__payment-link">
        <img src="./src/img/mastercard.svg" alt="mastercard" />
      </a>
      <a href="#!" class="footer__payment-link">
        <img src="./src/img/klarna.svg" alt="klarna" />
      </a>
      <a href="#!" class="footer__payment-link">
        <img src="./src/img/paypal.svg" alt="paypal" />
      </a>
      <a href="#!" class="footer__payment-link">
        <img src="./src/img/floa.svg" alt="floa" />
      </a>
      <a href="#!" class="footer__payment-link">
        <img src="./src/img/americanExpress.svg" alt="americanExpress" />
      </a>
    </nav>
  </div>
  <div class="footer__store">
    <div class="footer__store-content">
      <a href="#!" class="footer__store-link"
        >Avec l'appli Rakuten, bénéficiez de 5% remboursés en Rakuten Points sur
        tous vos achats !</a
      >
      <div class="footer__donwload">
        <a href="#!" class="footer__donwload-link">
          <img src="./src/img/appStore.svg" alt="appStore" />
        </a>
        <a href="#!" class="footer__donwload-link">
          <img src="./src/img/playStore.svg" alt="playStore" />
        </a>
      </div>
    </div>
  </div>
  <div class="footer__rakuten">
    <a href="#!" class="logo footer__logo">
      <img
        class="logo__img"
        src="./src/img/rakuten-logo.svg"
        alt="rakuten-logo"
      />
    </a>
    <a href="#!" class="footer__rakuten-link">Rakuten Kobo</a>
    <a href="#!" class="footer__rakuten-link">Rakuten TV</a>
    <a href="#!" class="footer__rakuten-link">Rakuten Viber</a>
    <a href="#!" class="footer__rakuten-link">Rakuten Viki</a>
    <a href="#!" class="footer__rakuten-link">Plus de services</a>
    <a href="#!" class="footer__rakuten-link">À propos de Rakuten</a>
    <select name="select" class="select mobile">
      <option value="value1" selected>France</option>
      <option value="value2">Allemagne</option>
      <option value="value3">Brésil</option>
      <option value="value3">Etats-Unis</option>
      <option value="value3">Japon</option>
      <option value="value3">Taïwan</option>
    </select>
  </div>
  <div class="footer__copyright">
    <p>© Rakuten France 2000 - 2024</p>
  </div>
  <div class="footer__ad">
    <a href="#!" class="footer__ad-link">xiaomi mix flip</a>
    <a href="#!" class="footer__ad-link">xiaomi</a>
    <a href="#!" class="footer__ad-link">asos</a>
    <a href="#!" class="footer__ad-link">Nike Tn</a>
    <a href="#!" class="footer__ad-link">Lego Harry Potter</a>
    <a href="#!" class="footer__ad-link">Nike Air Max</a>
    <a href="#!" class="footer__ad-link">Lave-linge séchant</a>
    <a href="#!" class="footer__ad-link">Radiateur</a>
    <a href="#!" class="footer__ad-link">Imprimante Laser</a>
    <a href="#!" class="footer__ad-link">Appareil à raclette</a>
  </div>
</footer>
