<div class="footer-second hidden">
  <div class="footer-second__social">
    <div class="second-container footer-second__social-container">
      <h5 class="footer-second__social-title">Our Social Networks</h5>
      <nav class="footer-second__social-nav">
        <a href="#!" class="footer-second__social-link">
          <img src="./src/img/facebook-next.svg" alt="facebook" />
        </a>
        <a href="#!" class="footer-second__social-link">
          <img src="./src/img/x-next.svg" alt="twitter" />
        </a>
        <a href="#!" class="footer-second__social-link">
          <img src="./src/img/tiktok.svg" alt="tiktok" />
        </a>
        <a href="#!" class="footer-second__social-link">
          <img src="./src/img/instagram-next.svg" alt="instagram" />
        </a>
        <a href="#!" class="footer-second__social-link">
          <img src="./src/img/pinterest-next.svg" alt="pinterest" />
        </a>
        <a href="#!" class="footer-second__social-link">
          <img src="./src/img/youtube-next.svg" alt="youtube" />
        </a>
      </nav>
    </div>
  </div>
  <div class="footer-second__section">
    <div class="second-container">
      <a href="#!" class="footer-second__sign-link">
        <img src="./src/img/myaccount.svg" alt="user" />
        <div class="footer-second__sign-content">
          <h6 class="footer-second__sign-title">My Account</h6>
          <p class="footer-second__sign-description">Sign-in to your account</p>
        </div>
      </a>
    </div>
  </div>
  <div class="info">
    <div class="second-container info__container">
      <nav class="info__nav">
        <a href="#!" class="info__link">Help</a>
        <a href="#!" class="info__link">Returns Information</a>
        <a href="#!" class="info__link">Shipping Information</a>
        <a href="#!" class="info__link">Contact Us</a>
        <a href="#!" class="info__link">Product Recall</a>
        <a href="#!" class="info__link">Find a Store</a>
      </nav>
      <nav class="info__nav">
        <a href="#!" class="info__link">Privacy & Legal</a>
        <a href="#!" class="info__link">Privacy & Cookie Policy</a>
        <a href="#!" class="info__link">Gender Pay Gap Report</a>
        <a href="#!" class="info__link">Terms & Conditions</a>
        <a href="#!" class="info__link">Manually Manage Cookies</a>
      </nav>
      <nav class="info__nav">
        <a href="#!" class="info__link">Departments</a>
        <a href="#!" class="info__link">Womens</a>
        <a href="#!" class="info__link">Mens</a>
        <a href="#!" class="info__link">Girls</a>
        <a href="#!" class="info__link">Boys</a>
        <a href="#!" class="info__link">Home</a>
        <a href="#!" class="info__link">Baby</a>
        <a href="#!" class="info__link">Brands</a>
      </nav>
      <nav class="info__nav">
        <a href="#!" class="info__link">Other Services</a>
        <a href="#!" class="info__link">Media & Press</a>
        <a href="#!" class="info__link">The Company</a>
        <a href="#!" class="info__link">Careers@next</a>
      </nav>
    </div>
  </div>
  <div class="footer-second__copyright">
    <a href="#!">View mobile site</a>
    <p>© 2024 Next Retail Ltd. All rights reserved.</p>
  </div>
</div>
