<div class="header-second hidden">
  <div class="header-second__banner">
    <h2 class="header-second__banner-title">
      €2 Home delivery within 1-2 days | Free collection from store
    </h2>
  </div>
  <div class="second-container">
    <div class="header-second__top">
      <div class="header-second__left">
        <a href="#!" class="logo">
          <img class="logo__img" src="./src/img/next-logo.svg" alt="next" />
        </a>
        <form class="search-form">
          <input
            type="text"
            class="search-form__input"
            placeholder="Search product or brand"
          />
          <button type="button" class="search-form__btn">
            <svg class="icon icon--20">
              <use href="#search"></use>
            </svg>
          </button>
        </form>
      </div>
      <div class="header-second__right">
        <a href="#!" class="header-second__top-link"
          >My Account
          <img src="./src/img/user-next.svg" alt="user" />
        </a>
        <a href="#!" class="header-second__top-link">
          <img src="./src/img/bag-next.svg" alt="cart" />
          <span>0</span>
        </a>
        <button class="header-second__btn" type="button">checkout</button>
        <button class="header-second__btn-country" type="button">
          <img src="./src/img/ie.png" alt="ie" />
        </button>
      </div>
    </div>
    <nav class="header-second__nav">
      <a href="#!" class="header-second__link header-second__link--active"
        >christmas</a
      >
      <a href="#!" class="header-second__link">women</a>
      <a href="#!" class="header-second__link">men</a>
      <a href="#!" class="header-second__link">girls</a>
      <a href="#!" class="header-second__link">boys</a>
      <a href="#!" class="header-second__link">baby</a>
      <a href="#!" class="header-second__link">shoes</a>
      <a href="#!" class="header-second__link">home</a>
      <a href="#!" class="header-second__link">brands</a>
      <a href="#!" class="header-second__link"><span>clearence</span></a>
    </nav>
  </div>
</div>
