<header class="header">
  <a href="#!" class="banner">
    <img src="./src/img/giftbox.png" alt="giftBox" />
    Nouveau ! Gagnez du cashback sur vos bons d'achats et cartes-cadeaux :
    Airbnb, Zalando, Leroy Merlin...
    <span>Je découvre</span>
  </a>
  <div class="main-container">
    <div class="header__top">
      <a href="#!" class="logo">
        <img
          class="logo__img"
          src="./src/img/rakuten-logo.svg"
          alt="rakuten-logo"
        />
      </a>
      <span class="header__drop">
        <svg class="icon icon--18">
          <use href="#down-chevron"></use>
        </svg>
      </span>
      <form class="search-form">
        <input
          type="text"
          class="search-form__input"
          placeholder="Que cherchez-vous ?"
        />
        <button type="button" class="search-form__btn">
          <svg class="icon icon--20">
            <use href="#search"></use>
          </svg>
        </button>
      </form>
      <a href="#!" class="header__link-banner">
        <img src="./src/img/FeeriqueJusqua.svg" alt="Sale" />
      </a>
    </div>
    <div class="header__bottom">
      <div class="burger">
        <button type="button" class="burger__btn">
          <span></span>
        </button>
        <p class="burger__title">Parcourir les catégories</p>
        <p class="burger__title burger__title--mobile">Menu</p>
      </div>
      <nav class="header__nav">
        <a href="#!" class="header__link">
          <svg class="icon icon--24">
            <use href="#euro-circle"></use>
          </svg>
          <p class="header__link-text">Mettre en vente</p>
          <p class="header__link-text header__link-text--mobile">Vendre</p>
        </a>
        <a href="#!" class="header__link mobile--575">
          <svg class="icon icon--24">
            <use href="#chat-bubble"></use>
          </svg>
          Aide
        </a>
        <a href="#!" class="header__link mobile">
          <img src="./src/img/clubR.svg" alt="clubR" />
        </a>
        <a href="#!" class="header__link">
          <svg class="icon icon--24">
            <use href="#heart"></use>
          </svg>
          <p class="header__link-text">Mes favoris</p>
          <p class="header__link-text header__link-text--mobile">Favoris</p>
        </a>
        <a href="#!" class="header__link">
          <svg class="icon icon--24">
            <use href="#user-profile"></use>
          </svg>
          <p class="header__link-text">Se connecter</p>
          <p class="header__link-text header__link-text--mobile">Compte</p>
        </a>
        <a href="#!" class="header__link">
          <svg class="icon icon--24">
            <use href="#shopping-cart"></use>
          </svg>
          Panier
        </a>
      </nav>
    </div>
  </div>
</header>
